@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
   ::-webkit-scrollbar {
      width: 0.3em;
   }
   ::-webkit-scrollbar-thumb {
      background-color: gray;
      border-radius: 1em;
   }
   .double-grid {
      display: grid;
      grid-template-columns: min-content 1fr;
   }
}